@import url('https://fonts.googleapis.com/css?family=Megrim|Roboto+Slab:300,400,700');
html,body{
    font-size: 12px;
    background-image: url(astronomy-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    color: #fff;
}

.container{
    width: 100%;
    padding: 20px;
}

h1{
    font-family: "Megrim", sans-serif;
    text-align: center;
    font-size: 3rem;
    color: #fff;
    border-bottom: solid 1px #fff;
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
}

h2,p{
    font-family: "Roboto Slab", serif;
}

ul{
    font-size: 1.2rem;
    font-weight: bold;
}

h2{
    font-weight: bold;
    font-size: 2.3rem;
}

#instructions .input-group{
    margin: 10px;
    max-width: 70%;
}

#log{
    background-color: #000;
    opacity: .8;
    overflow-y: scroll;
    height: 560px;
}

#log p{
    font-size: 1rem;
}

.cell, .rover, .obstacle {
    width: 9%;
    height: 50px;
    border: solid 1px white;
    text-align: center;
    padding: 14px 0;
}
.cell{
    background-color: black;
}
.rover{
    background-color: skyblue;
}
.obstacle{
    background-color: red;
}

.controller{
    width: 90%;
}